@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("components/login.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  animation: refresh 1000ms 0s 1 forwards;
}

button:disabled {
  cursor: not-allowed;
  background-color: #b2dffc;
}

@keyframes refresh {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
