.forget-password-form {
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 500px;
  height: 350px;
  max-height: 400px;
}

.center1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.forget-password-form::-webkit-scrollbar {
  display: none;
}

.forget-password-form-label {
  font-size: 20px;
}

.forget-password-form-key {
  border: 1px solid gray;
  background-color: rgba(255, 255, 255, 0.5);
  padding-left: 1rem;
  font-size: 1rem;
  margin-top: 1rem;
  width: 70%;
  height: 2.8rem;
  border-radius: 5px;
}

.forget-password-form-back {
  padding-top: 2rem;
}

.forget-password-form-back:active {
  color: rgb(0, 55, 250);
}

.forget-password-form-linksent {
  position: absolute;
  bottom: 225px;
  color: green;
  font-weight: bold;
}

@media (max-width: 570px) {
  .forget-password-form {
    border: none;
    box-shadow: none;
  }
  .forget-password-form-linksent {
    bottom: 280px;
  }
}
