.reset-password-form {
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 500px;
  height: 400px;
  max-height: 400px;
}

.reset-password-form-label {
  font-size: 20px;
  padding-top: 1rem;
}

.reset-form-button {
  border: none;
  width: 70%;
  height: 1.8rem;
  border-radius: 5px;
  margin-top: 1.3rem;
  font-size: 20px;
  color: white;
  background-color: #0095f6;
  cursor: pointer;
}

.reset-form-button-success {
  border: none;
  width: 70%;
  height: 1.8rem;
  border-radius: 5px;
  margin-top: 4rem;
  margin-left: 3.9rem;
  font-size: 20px;
  color: white;
  background-color: #0095f6;
  cursor: pointer;
}

@media (max-width: 570px) {
  .reset-password-form {
    border: none;
    box-shadow: none;
  }
}
